﻿@{
    ViewData["Title"] = "About";
}

<h2>About</h2>
<hr/>

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h2>Dariusz Glab</h2>
        <h3>Simply login – online automated visitor scheduler system</h3>
        <hr class="my-4">
        <h4>Don't hesitate to reach me out trough the <a asp-controller="@Consts.Home" asp-action="Contact">Contact page</a>.</h4>
    </div>
</div>