﻿@{
    ViewData["Title"] = "AdminPanel";
}

<h2>AdminPanel</h2>
<hr />

<a asp-controller="@Consts.Resource" asp-action="Index" class="btn btn-lg btn-primary">Manage Resources</a>
<a asp-controller="@Consts.Account" asp-action="UserList" class="btn btn-lg btn-primary">Manage Users</a>
<a asp-controller="@Consts.Home" asp-action="Index" class="btn btn-lg btn-primary">Manage Meetings</a>
