﻿@model SimplyLogin1.Models.ContactViewModel
@{
    ViewData["Title"] = "Contact";
}
<h2 >Please fill out the form</h2>
<hr />

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form method="post" class="form-signin">


            <div class="form-group">
                <label asp-for="Email" class="sr-only">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Your email"
                       required="" autofocus="" type="email" />
                <span asp-validation-for="Email" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Subject" class="sr-only">Subject</label>
                <input asp-for="Subject" class="form-control" placeholder="Subject" />
                <span asp-validation-for="Subject" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Body" class="sr-only">Body</label>
                <textarea asp-for="Body" class="form-control"
                          placeholder="What is your problem?" rows="6"></textarea>
                <span asp-validation-for="Body" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-lg btn-primary btn-block" />
            </div>

            <div asp-validation-summary="ModelOnly" />
        </form>
    </div>
</div>
