﻿@model SimplyLogin1.Models.MeetingViewModel
<h2>Enter desired meeting dates:</h2>
<hr />

<div class="row">
    <div class="col-md-4">

        <form method="post" asp-action="DateSelect" asp-controller="@Consts.Home">

            <div class="form-group">
                <label asp-for="DateStart">DateStart</label>
                <input asp-for="DateStart" class="form-control" placeholder="DateStart" required="" autofocus="" />
                <span asp-validation-for="DateStart" class="text-warning"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateEnd">DateEnd</label>
                <input asp-for="DateEnd" class="form-control" placeholder="DateEnd" required="" />
                <span asp-validation-for="DateEnd" class="text-warning"></span>
            </div>
            <div asp-validation-summary="ModelOnly" />

            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-lg btn-primary btn-block" />
            </div>

        </form>
    </div>

    <div class="col-md-4">
        <h4>Your chosen location:</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Resource.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Resource.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Resource.Location)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Resource.Location)
            </dd>
        </dl>
    </div>
</div>

<a asp-controller="@Consts.Home" asp-action="Index" class="btn btn-default">Back</a>