﻿@model SimplyLogin1.Models.MeetingViewModel
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <h3>Approved: <strong>@Model.ApprovedString</strong></h3>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.User.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.User.Email)
            </dd>
        </dl>

        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DateStart)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateStart)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DateEnd)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DateEnd)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Resource.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Resource.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Resource.Location)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Resource.Location)
            </dd>
        </dl>
    </div>

    <div class="col-md-4">
        @if (Model.Approved)
        {
            <h3>Your QR code</h3>
            <h5>You can use your browser print option on this page to print an access badge.</h5>
            <p>@Model.QrCode.ToString()</p>
            @addTagHelper *, SimplyLogin1
            <qrcode value="@Model.QrCode.ToString()" width="200" height="200" />
        }
    </div>
</div>

<a asp-controller="@Consts.Home" asp-action="Index" class="btn btn-default">Back</a>