﻿@model SimplyLogin1.Models.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
}

@if (!User.Identity.IsAuthenticated)
{
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1>Welcome to @Consts.Brand website</h1>
            <h4>To start using the service you have to register yourself and wait for your account to be approved by the moderation team.</h4>
            <hr class="my-4">
            <a asp-controller="@Consts.Home" asp-action="About" class="btn btn-primary btn-lg">Learn more</a>
        </div>
    </div>
}

@if (User.IsInRole(UserRole.Member) || User.IsInRole(UserRole.Moderator) || User.IsInRole(UserRole.Admin))
{
    <div class="row">
        <div>
            <h2>Your Meetings:</h2>
            <hr />
            @Html.Partial("MeetingsPartial", Model.Meetings)
        </div>
        <div>
            <h2>Request New Meeting:</h2>
            <hr />
            @Html.Partial("RequestPartial", Model)
        </div>
    </div>
} else if (User.Identity.IsAuthenticated) {
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h2>You must be approved by moderation team to continue using website.</h2>
        </div>
    </div>
}


