﻿@model IEnumerable<MeetingViewModel>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resource.Name)
            </th>
            @if (User.IsInRole(UserRole.Moderator) || User.IsInRole(UserRole.Admin))
            {
                <th>
                    @Html.DisplayNameFor(model => model.User.Username)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Approved)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DateStart)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateEnd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Resource.Name)
                </td>
                @if (User.IsInRole(UserRole.Moderator) || User.IsInRole(UserRole.Admin))
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.User.Username)
                    </td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.ApprovedString)
                </td>
                <td>
                    @if (!item.Approved && (User.IsInRole(UserRole.Moderator) || User.IsInRole(UserRole.Admin)))
                    {
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#ApproveMeetingModal">Approve</button>

                        <div class="modal fade" id="ApproveMeetingModal" tabindex="-1" role="dialog" aria-labelledby="ApproveMeetingModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5>Are you sure you want to approve this meeting?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a asp-controller="@Consts.Home" asp-action="Approve" asp-route-id="@item.Id" class="btn btn-warning">Confirm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (item.Approved)
                    {
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#CancelMeetingModal">Cancel</button>

                        <div class="modal fade" id="CancelMeetingModal" tabindex="-1" role="dialog" aria-labelledby="CancelMeetingModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5>Are you sure you want to cancel this meeting?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a asp-controller="@Consts.Home" asp-action="Cancel" asp-route-id="@item.Id" class="btn btn-warning">Confirm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    @if (User.IsInRole(UserRole.Admin))
                    {
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteMeetingModal">Delete</button>

                        <div class="modal fade" id="DeleteMeetingModal" tabindex="-1" role="dialog" aria-labelledby="DeleteMeetingModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5>Are you sure you want to delete this meeting?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a asp-controller="@Consts.Home" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Confirm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <a asp-controller="@Consts.Home" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

