﻿@model HomeViewModel

<form asp-controller="@Consts.Home" asp-action="Index">
    <div class="form-inline">
        <label class="sr-only">Search Phrase</label>
        <input asp-for="SearchPhrase" type="text" name="searchPhrase" placeholder="Search Phrase" class="form-control">
        <input type="submit" value="Search" class="btn btn-info" />
    </div>
</form>
<br/>
<br/>
<br/>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Location</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Resources)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <a asp-controller="@Consts.Home" asp-action="DateSelect" asp-route-id="@item.Id" class="btn btn-primary">Request Meeting</a>
                </td>
            </tr>
        }
    </tbody>
</table>
