﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono|Roboto+Slab" rel="stylesheet">

    <title>@ViewData["Title"] - @Consts.Brand</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a asp-area="" asp-controller="@Consts.Home" asp-action="Index" class="navbar-brand">
                    <img src="~/favicon.ico" style="float: left; margin: -5px 6px 0px 0px" alt="Site Logo" />
                    <span>@Consts.Brand</span>
                </a>

            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-controller="@Consts.Home" asp-action="About">About</a></li>
                    <li><a asp-controller="@Consts.Home" asp-action="Contact">Contact</a></li>

                    @if (User.IsInRole(UserRole.Admin) || User.IsInRole(UserRole.Moderator))
                    {
                        <li><a asp-controller="@Consts.Home" asp-action="AdminPanel">Admin Panel</a></li>
                    }

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>
                            <a asp-controller="@Consts.Account" asp-action="Details">
                                <span class="label label-danger">@User.Identity.Name</span>
                            </a>
                        </li>
                        <li>
                            <form method="post" asp-controller="@Consts.Account" asp-action="Logout">
                                <button type="submit" class="btn btn-link navbar-btn nav-link">Logout</button>
                            </form>
                        </li>
                    }
                    else
                    {
                        <li>
                            <a asp-controller="@Consts.Account" asp-action="Login">Login</a>
                        </li>
                        <li>
                            <a asp-controller="@Consts.Account" asp-action="Register">Register</a>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        <main role="main" class="container">
            @RenderBody()
        </main>

        <footer class="footer" style="margin-top: 50px">
            <hr />
            <div class="row">
                <div class="col-xs-3">
                    <span class="text-muted">&copy; 2018 - @Consts.Brand</span>
                </div>
                <div class="col-xs-4">
                    <address>
                        <strong>Support:</strong> <a href="mailto:simplyLogin1@o2.pl">simplyLogin1@o2.pl</a><br />
                    </address>
                </div>
            </div>
        </footer>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
