@model SimplyLogin1.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}


<h2>Please fill the form</h2>
<hr />

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="post" class="form-signin">

            <div class="form-group">
                <label asp-for="CurrentPassword" class="sr-only">Current Password</label>
                <input asp-for="CurrentPassword" type="password" class="form-control" placeholder="Current Password" required="" autofocus="" />
                <span asp-validation-for="CurrentPassword" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPassword" class="sr-only">New Password</label>
                <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password" required="" />
                <span asp-validation-for="NewPassword" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="NewPasswordConfirmed" class="sr-only">New Password Confirmed</label>
                <input asp-for="NewPasswordConfirmed" type="password" class="form-control" placeholder="New Password Confirmed" required="" />
                <span asp-validation-for="NewPasswordConfirmed" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Change Password" class="btn btn-lg btn-primary btn-block" />
            </div>

            <div asp-validation-summary="ModelOnly" />
        </form>

        <a asp-controller="@Consts.Account" asp-action="Details" class="btn btn-default">Back</a>
    </div>
</div>

