@model SimplyLogin1.Models.UserViewModel
@{
    ViewData["Title"] = "Users List";
}

<h2>User preferences</h2>
<hr />

<div class="row">
    <div class="col-md-4">
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Username)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Username)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.PhoneNumber)
            </dd>
        </dl>

        <hr />
    </div>

</div>


<a asp-controller="@Consts.Home" asp-action="Index" class="btn btn-default">Back</a>
<a asp-controller="@Consts.Account" asp-action="ChangePassword" class="btn btn-warning">Change Password</a>


