﻿@model SimplyLogin1.Models.LoginViewModel
@{
    ViewBag.Title = "Login";
}


<h2>Please sign in</h2>
<hr />

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="post" class="form-signin">


            <div class="form-group">
                <label asp-for="Username" class="sr-only">Username</label>
                <input asp-for="Username" class="form-control" placeholder="Username" required="" autofocus="" />
                <span asp-validation-for="Username" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="sr-only">Password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" required="" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" type="checkbox" style="margin-right: 4px;"/>Remember Me
                </label>
                <span asp-validation-for="RememberMe" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-lg btn-primary btn-block" />
            </div>

            <div asp-validation-summary="ModelOnly" />
        </form>
    </div>
</div>
