@model SimplyLogin1.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<h2 >Please enter your data</h2>
<hr />

<div class="row">
    <div class="col-md-4 col-md-offset-4">
        <form method="post" class="form-signin">

            <div class="form-group">
                <label asp-for="Username" class="sr-only">Username</label>
                <input asp-for="Username" class="form-control" placeholder="Username" required="" autofocus="" />
                <span asp-validation-for="Username" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="sr-only">Email</label>
                <input asp-for="Email" class="form-control" placeholder="Email" />
                <span asp-validation-for="Email" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password" class="sr-only">Password</label>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" required="" />
                <span asp-validation-for="Password" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="sr-only">ConfirmPassword</label>
                <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password" required="" />
                <span asp-validation-for="ConfirmPassword" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="sr-only">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control" placeholder="Phone Number" />
                <span asp-validation-for="PhoneNumber" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="AcceptTerms">
                    <input asp-for="AcceptTerms" type="checkbox" />Accept Terms
                </label>
                <span asp-validation-for="AcceptTerms" class="text-warning"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-lg btn-primary btn-block" />
            </div>

            <div asp-validation-summary="ModelOnly" />
        </form>
    </div>
</div>