﻿@model IEnumerable<SimplyLogin1.Models.UserViewModel>
@{
    ViewData["Title"] = "Users List";
}

<h2>User List</h2>
<hr />

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Username)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                <td>
                    @if (item.Role == UserRole.NewUser)
                    {
                        <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#AcceptAsMemberModal">Accept as Member</button>

                        <div class="modal fade" id="AcceptAsMemberModal" tabindex="-1" role="dialog" aria-labelledby="AcceptAsMemberModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5>Are you sure you want to make this user a @UserRole.Member?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a asp-controller="@Consts.Account" asp-action="AcceptMember" asp-route-id="@item.Id" class="btn btn-warning">Confirm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (item.Role == UserRole.Member && User.IsInRole(UserRole.Admin))
                    {
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#AcceptAsModeratorModal">Accept as Moderator</button>

                        <div class="modal fade" id="AcceptAsModeratorModal" tabindex="-1" role="dialog" aria-labelledby="AcceptAsModeratorModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5>Are you sure you want to make this user a @UserRole.Moderator?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a asp-controller="@Consts.Account" asp-action="AcceptModerator" asp-route-id="@item.Id" class="btn btn-danger">Confirm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    @if (item.Role != UserRole.Admin)
                    {
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#DeleteUserModal">Delete</button>

                        <div class="modal fade" id="DeleteUserModal" tabindex="-1" role="dialog" aria-labelledby="DeleteUserModalTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5>Are you sure you want to delete this user?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                        <a asp-controller="@Consts.Account" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Confirm</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="@Consts.Home" asp-action="AdminPanel" class="btn btn-default">Back</a>


