﻿@model IEnumerable<SimplyLogin1.Models.ResourceViewModel>
@{
    ViewData["Title"] = "Resource list";
}

<h2>Resource list</h2>
<hr />

<table class="table table-hover">
    <thead >
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    <a asp-controller="@Consts.Resource" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Edit</a>
                    <a asp-controller="@Consts.Resource" asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">Details</a>
                    <a asp-controller="@Consts.Resource" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-controller="@Consts.Resource" asp-action="Create" class="btn btn-lg btn-primary">Create New</a>
<a asp-controller="@Consts.Home" asp-action="AdminPanel" class="btn btn-default">Back</a>